/* Start Menu Animation */

.menu ul li a{
    display: block;
    position: relative;
    transition: 0.3s;
    opacity: 0;
    animation: slide_top 0.5s linear forwards;
    animation-delay: calc(0.2s * var(--i));
}
@keyframes slide_top{
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

/* End Menu Animation */


/* Start Banner Anmation */

.left-banner{
    position: relative;
    animation: slide-left 0.5s linear forwards 1s;
    opacity: 0;
}
@keyframes slide-left {
    0%{
        transform: translateX(-150px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
.right-banner{
    position: relative;
    animation: slide-right 0.7s linear forwards 1s;
    opacity: 0;
}
@keyframes slide-right {
    0%{
        transform: translateX(150px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}

/* End Banner Anmation */